doctype html
html
head
	title="Hello Pug"
	style
		include style.css
body
	div.login
		img(src="https://www.google.pl/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png")
		form(method="get" action="auth/google")
			p.logtext User name:
			br
			input(type="text" placeholder="Login" name="username")
			p.logtext User password: 
			br
			input(type="password" placeholder="Password")
			br
			br
			a(href="/auth/google")
				button(type="submit") Login